.table
{
    border: none;
}
.card-body
{
    flex: 1 1 auto;
min-height: 1px;
padding: 1.25rem 0;
}
.card{
    padding: 1.25rem;
}

#divtable table tr th:nth-child(1){
    text-align: left;
    padding: 0.75rem 0.25rem;
  }

  #divtable2 table tr th:nth-child(1){
    text-align: left;
    padding: 0.75rem 0.25rem;
  }

#divtable table tr th:nth-child(2){
    text-align: right;
    padding: 0.75rem 0.25rem;
  }

  #divtable2 table tr th:nth-child(2){
    text-align: right;
    padding: 0.75rem 0.25rem;
  }

  #divtable table tr td:nth-child(1){
    text-align: left;
    padding: 0.75rem 0.25rem;
  }

  #divtable2 table tr td:nth-child(1){
    text-align: left;
    padding: 0.75rem 0.25rem;
  }

  #divtable table tr td:nth-child(2){
    text-align: right;
    padding: 0.75rem 0.25rem;
  }   

  #divtable2 table tr td:nth-child(2){
    text-align: right;
    padding: 0.75rem 0.25rem;
  }
